<mtapp:setting id="show_events" label="Show Events">
<input type="checkbox" name="show_events" <mt:if name="show_events">checked</mt:if>>
</mtapp:setting>
<p>Whether or not to show events in this blog's entry editing screen.</p>
